<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--namespace = 所需实现的接口全限定名-->
<mapper namespace="com.yyz.Yangtze_MANAGER.mapper.UserMapper">
  <!--    修改保存用户-->
    <update id="modify" parameterType="com.yyz.Yangtze_MANAGER.entity.User">
        update cjdx_user
        <trim prefix="set" suffixOverrides="," suffix="where id = #{id}">
            <if test ="userCode !=null"> userCode=#{userCode},</if>
            <if test ="userName !=null"> userName=#{userName},</if>
            <if test ="gender !=null"> gender=#{gender},</if>
            <if test ="birthday !=null"> birthday=#{birthday},</if>
            <if test ="phone !=null"> phone=#{phone},</if>
            <if test ="address !=null"> address=#{address},</if>
            <if test ="userRole !=null"> userRole=#{userRole},</if>
            <if test ="idPicPath !=null"> idPicPath=#{idPicPath},</if>
            <if test ="workPicPath !=null"> workPicPath=#{workPicPath},</if>
            <if test ="modifyBy !=null"> modifyBy=#{modifyBy},</if>
            <if test ="modifyDate !=null"> modifyDate=#{modifyDate},</if>
        </trim>
    </update>
    <!--更新密码-->
    <update id="updatePwd" >
        update cjdx_user set userPassword=#{newpassword} where id=#{id}
    </update>

    <!--删除用户-->
    <delete id="deleteById" parameterType="integer">
        delete from cjdx_user where id=#{id}
    </delete>
    <!--根据用户的编码查询-->
    <select id="login" resultType="com.yyz.Yangtze_MANAGER.entity.User">
            select * from cjdx_user as u
        <trim prefix="where">
            <if test="userCode!=null">
                u.userCode=#{userCode}
            </if>
        </trim>
    </select>

    <!--查询总记录数量-->
    <select id="getTotalCount" resultType="java.lang.Integer">
        select count(1) from cjdx_user as u, cjdx_role as r
        where u.userRole=r.id
        <if test="userRole !=null">
            and u.userRole=#{userRole}
        </if>
        <if test="queryname !=null">
            and u.userName like CONCAT('%',#{queryname},'%')
        </if>
    </select>
    <!--查询用户列表-->
    <resultMap id="userList" type="com.yyz.Yangtze_MANAGER.entity.User">
        <result property="id" column="id"/>
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="gender" column="gender"/>
        <result property= "age" column="age"/>
        <result property="phone" column="phone"/>
        <result property="userRoleName" column="roleName"/>
    </resultMap>
    <select id="getUserList" resultMap="userList">
        select u.*,r.roleName from cjdx_user as u ,cjdx_role as r
        where u.userRole=r.id
        <if test="queryname !=null">
            and u.userName like CONCAT('%',#{queryname},'%')
        </if>
        <if test="queryUserRole!=null">
            and u.userRole=#{queryUserRole}
        </if>
        order by u.creationDate desc limit #{currentPageNo},#{pageSize}
    </select>
    <!--验证用户编码-->
    <select id="selectUserCodeExist" resultType="com.yyz.Yangtze_MANAGER.entity.User">
        select * from cjdx_user as u
        <trim prefix="where" prefixOverrides="and|or">
            and u.userCode=#{userCode}
        </trim>
    </select>
    <!--     *  修改回显
     * 通过id 获取用户信息-->
    <select id="getUserById" resultType="com.yyz.Yangtze_MANAGER.entity.User">
        select * ,r.roleName as userRoleName from cjdx_user as u,cjdx_role as r
        where
            u.id=#{id}
        and
            u.userRole=r.id
    </select>
    <!--添加保存用户-->
    <insert id="add" parameterType="com.yyz.Yangtze_MANAGER.entity.User">
        insert into cjdx_user(userCode,userName,userPassword,gender,birthday,phone,
                              address,userRole,createdBy,creationDate,idPicPath,workPicPath)
        values(#{userCode},#{userName},#{userPassword},#{gender},#{birthday},#{phone},#{address},#{userRole},#{createdBy},#{creationDate},#{idPicPath},#{workPicPath})
    </insert>
</mapper>